{:paths ["dev" "resources" "notebooks"]
 :deps {io.github.nextjournal/clerk {:mvn/version "0.3.233"}
        sicmutils/sicmutils {:mvn/version "0.20.1"}
        aerial.hanami/aerial.hanami {:mvn/version "0.15.1"}}}
