{:paths ["dev"]
 :deps {io.github.nextjournal/clerk        {:mvn/version "0.1.176"}
        sicmutils/sicmutils {:mvn/version "0.19.2"}
        aerial.hanami/aerial.hanami {:mvn/version "0.12.9"}
        techascent/tech.viz {:mvn/version "6.00-beta-16-2"}
        com.github.seancorfield/next.jdbc  {:mvn/version "1.2.659"}
        scicloj/tablecloth                 {:mvn/version "6.012"}
        org.clojure/data.csv               {:mvn/version "1.0.0"}
        org.xerial/sqlite-jdbc             {:mvn/version "3.34.0"}}}
